<header>
  <app-nav></app-nav>
</header>

<main class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="card">
        <div class="card-header maindivheader">
          <div class="row">
            <div class="col-sm-6">
              <h4>File Sheet(s) | {{fileName}}</h4>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-outline-light" (click)="openModal(FtpModal,null)">
                  <fa-icon [icon]="faPlus"></fa-icon>
                    Add New File Sheet
                  </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
          
          <input type="text" class="form-control wd" [(ngModel)]="src" placeholder="Search">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Sheet Name</th>
                  <th>Service Function Name</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ftp of sheetList | filter:src; let i = index">
                  <td *ngIf="ftp.IsActive">{{ ftp.SheetName }}</td>
                  <td *ngIf="ftp.IsActive">{{ ftp.FunctionName }}</td>
                  <td *ngIf="ftp.IsActive" class="text-center">
                    <button class="btn btn-outline-secondary btn-xs font-sm" (click)="openModal(FtpModal,ftp)" >Update</button>
                    <button class="btn btn-outline-warning btn-xs font-sm ml-1" (click)="openDeleteModal(delete,ftp)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<ng-template #FtpModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTransact }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="form-group">
      <label>Sheet Name</label>
      <input type="text" class="form-control" [(ngModel)]="sheetName">
    </div>

    <div class="form-group">
      <label>Service Function Name</label>
      <input type="text" class="form-control" [(ngModel)]="functionName">
    </div>
    <ngb-alert *ngIf="errorMessage" type="warning" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" *ngIf="!isLoading"
      class="btn btn-outline-dark"
      (click)="saveFtp()">
      Save
    </button>
    <button type="button"  *ngIf="isLoading"
      class="btn btn-outline-dark"
      disabled>
      Saving..
    </button>
  </div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Sheet Deletion</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <strong>Are you sure you want to delete?</strong>
  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
    <button class="btn btn-sm btn-danger" (click)="deleteFtp()">Delete</button>
  </div>
</ng-template>