.w-10 {
  width: 26% !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #ffd40e !important;
  background-color: #ffd40e !important;
}

.table-scroll {
  max-height: 500px;   /* adjust height as needed */
  overflow-y: auto;
}

.table-scroll thead th {
  position: sticky;
  top: 0;             /* distance from the top of container */
  background: #fff;   /* important: set a background so content doesn’t show through */
  z-index: 10;        /* make sure header stays on top */
}

// /* Sticky last column (Actions) */
// .table-scroll tbody td:last-child,
// .table-scroll thead th:last-child {
//   position: sticky;
//   right: 0;
//   background: #fff;
//   z-index: 5;   /* less than header to stay below header row */
// }

table > thead > tr > th ,table > tbody > tr > td {
	padding : 4px 4px;
	vertical-align: middle;
	font-size: 13px;
	
	/*text-align: center;*/
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding : 5px 5px !important;
	vertical-align: middle;
}


.w-800 {
  min-width: 1000px !important;
  max-width: 100% !important;   /* so it doesn’t overflow on small screens */
}
