<div>
  <div class="row px-5 pt-3">
    <input class="mx-2 bg-transparent text-white font-weight-bold border-1 border-white rounded" type="date"
       [(ngModel)]="rr_date" (ngModelChange)="GetDataPerRegion()" style="width: 200px; font-size: 14pt;" />
       <!-- [(ngModel)]="pbdate" (ngModelChange)="saverange($event)" -->
  </div>
  <div class="row px-5 py-2">
    <!-- Luzon -->
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Regulation Up - Luzon
        </h5>
        <highcharts-chart
        [Highcharts]="Highcharts"
        [constructorType]="'chart'"
        [options]="ru_luz_options"
        [(update)]="updateFlags[0]"
        [oneToOne]="true"
        style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Regulation Down - Luzon
        </h5>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="rd_luz_options"
          [(update)]="updateFlags[1]" [oneToOne]="true" style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Contingency Reserve - Luzon
        </h5>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="cr_luz_options"
          [(update)]="updateFlags[2]" [oneToOne]="true" style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>

    <!-- Visayas -->
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Regulation Up - Visayas
        </h5>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="ru_vis_options"
        [(update)]="updateFlags[3]" [oneToOne]="true" style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Regulation Down - Visayas
        </h5>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="rd_vis_options"
        [(update)]="updateFlags[4]" [oneToOne]="true" style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Contingency Reserve - Visayas
        </h5>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="cr_vis_options"
        [(update)]="updateFlags[5]" [oneToOne]="true" style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>
    
    <!-- Mindanao -->
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Regulation Up - Mindanao
        </h5>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="ru_min_options"
          [(update)]="updateFlags[6]" [oneToOne]="true" style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Regulation Down - Mindanao
        </h5>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="rd_min_options"
          [(update)]="updateFlags[7]" [oneToOne]="true" style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>
    <div class="col-4 p-1">
      <div class="border border-white p-2 border-1">
        <h5 class="text-warning font-weight-bold">
          Contingency Reserve - Mindanao
        </h5>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="cr_min_options"
          [(update)]="updateFlags[8]" [oneToOne]="true" style="width: 100%; height: 25vh; display: block;"></highcharts-chart>
      </div>
    </div>
  </div>
</div>