<div>
  <!-- stuff up top -->
  <div class="row p-5">
    <div class="col-4">
      <table class="table table-sm table-bordered w-full">
        <tbody>
          <th class="current-interval px-2">
            INTERVAL
          </th>
          <td style="width: 200px;">???</td>
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <table class="table table-sm table-bordered w-full">
        <thead>
          <tr>
            <th rowspan="2">Reserve Type</th>
            <th colspan="2">Luzon</th>
            <th colspan="2">Visayas</th>
            <th colspan="2">Mindanao</th>
          </tr>
          <tr>
            <th>Requirement</th>
            <th>Schedule</th>
            <th>Requirement</th>
            <th>Schedule</th>
            <th>Requirement</th>
            <th>Schedule</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Regulation Up</th>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
          </tr>
          <tr>
            <td>Regulation Down</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
          </tr>
          <tr>
            <td>Contingency Reserve</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
            <td>???</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- main table -->
  <table class="table table-sm table-bordered w-full">
    <thead>
      <tr>
        <th class="current-interval" rowspan="2">Region</th>
        <th class="current-interval" rowspan="2">Facility</th>
        <th class="current-interval" colspan="4">RTD</th>
        <th class="current-interval" rowspan="2">Actual</th>
        <th class="current-interval" rowspan="2">MOP</th>
        <th class="current-interval" colspan="4">PRICES</th>
        <th class="current-interval" rowspan="2">Remarks</th>
      </tr>
      <tr>
        <th class="current-interval">Energy</th>
        <th class="current-interval">Reg. Up</th>
        <th class="current-interval">Reg. Down</th>
        <th class="current-interval">CR</th>
        <th class="current-interval">Energy</th>
        <th class="current-interval">Reg. Up</th>
        <th class="current-interval">Reg. Down</th>
        <th class="current-interval">CR</th>
      </tr>
    </thead>
  </table>
</div>
