<div class="wrapper fadeInDown">
  <div id="formContent" class="card shadow p-4">

    <!-- Logo -->
    <div class="text-center mb-4">
      <img src="assets/images/RTDLogo.PNG"
           class="img-fluid"
           style="max-height: 80px;"
           alt="RTD Logo">
    </div>

    <!-- Title -->
    <div class="text-center mb-3">
      <h6>CHANGE PASSWORD</h6>
      <label class="text-muted" *ngIf="checkNewUser()">
        For security purposes, please change your password before continuing.
      </label>
    </div>

    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- New Password -->
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="New Password"
               formControlName="newPassword"
               autocomplete="new-password">
      
               <ul class="mb-0 pl-0 list-unstyled" *ngIf="form.controls.newPassword.value">
                <li [class.text-success]="form.controls.newPassword.value?.length >= 8">
                  At least 8 characters
                </li>
                <li [class.text-success]="hasUppercase(form.controls.newPassword.value)">
                  At least 1 uppercase letter
                </li>
                <li [class.text-success]="hasLowercase(form.controls.newPassword.value)">
                  At least 1 lowercase letter
                </li>
                <li [class.text-success]="hasNumber(form.controls.newPassword.value)">
                  At least 1 number
                </li>
                <li [class.text-success]="hasSpecialChar(form.controls.newPassword.value)">
                  At least 1 special character
                </li>
              </ul>
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="Confirm Password"
               formControlName="confirmPassword"
               autocomplete="new-password">

        <small class="text-danger" *ngIf="form.errors?.passwordMismatch && form.controls.confirmPassword.touched">
          Passwords do not match.
        </small>
      </div>

      <!-- Submit Button -->
      <div id="formFooter">
        <input type="button" class="btn btn-warning" value="Change Password" (click)="onSubmit()" *ngIf="!isLoading">
        <input type="button" class="btn btn-warning" value="Please wait.." *ngIf="isLoading" disabled>
    </div>

    </form>

  </div>
</div>