.table {
  tr {
    &:not(.current-interval) {
      th,
      td {
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
        //font-weight: bold;
        font-size: 1.1rem;
        color: white;
        border: 1.6px solid rgb(255, 254, 254);
        text-align: center;
        vertical-align: middle;
      }
    }

    &.current-interval {
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
      color: white;
      text-align: center;
    }

    
  }
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding : 2px 2px !important;
	vertical-align: middle;
}


.border-4{
  border: 3.6px solid rgb(255, 254, 254) !important;
}
.current-interval {
    background-color: #e40000;
    color: white;
    td {
        padding: 0.1rem 0.1rem;
        font-size: 1.5rem;
        color: white;
        vertical-align: middle;
    }
}

.online {
    background-color: #2c8143;
    border: none;
    color: #fff;
}

.offline {
    background-color: #e87c87;
    border: none;
}

.actual {
    color: hsl(49, 100%, 53%) !important; 
}

.flagged {
    background-color: #ffd40e;
    color: red !important;
}

.btn {
    &.btn-actual {
        background-color: #dae0e5;
    }

    &.btn-flagged {
        background-color: #ffe28c;

        &--continuous {
            background-color: transparent !important;
            border: 1px solid #dae0e5;
            color: #ffffff;
        }
    }
    
}